// _mixins.scss
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin box-shadow {
    -webkit-box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2);
       -moz-box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2);
            box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2);
  }
  